body, html {
	margin: 0px;
}

li{list-style-type:none;}
ul {
    list-style: none;
    padding-left: 0px;
}

#header {
	background:#006284;
	height: 50px;
	width: 100%;
	position: relative; /*父div的位置设置成相对的*/
	top: 0;
}

#h_menu {
	position: absolute;
	bottom: 0;
	background: yellow;
	width: 100%;
	height: 50px;
}

#middle {
	position: absolute;
	width: 100%;
    min-height: 800px;
	height: auto;
	top: 50px;
	bottom: 0px;
}

#right{
    position: relative;
    min-height: 750px;
    background: #fff;
    margin-left: 240px;
    border-left: 1px solid #cccccc;
    padding: 15px 15px 0px 15px;
}

#right-top{

    border-bottom: 1px solid #eee;
    margin: 0px 0em 2em 0em;
    position: relative;
    min-height: 100px;
    background: #fff;
    margin-left: 240px;   
    padding: 15px 15px 0px 15px;
}

#right-bottom{
    position: relative;
    min-height: 630px;
    background: #fff;
    margin-left: 240px;
    padding: 0px 15px 0px 15px;
}


.sidebar{
    width: 240px;
    position: absolute;
    float: left;
    border-top: none;
    border-right: 1px solid #cccccc;
    margin: 0em;
    background: #fafafa;
    min-height: 800px;
    height: auto

    }


.nav-header{
	border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #c8c8cb;
    background: #efeff0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #fafafa));
	border-left: none;
    color: #444;
    display: block;
    font-weight: normal;
    font-size: 1em;
    line-height: 2.5em;
    padding: .25em .25em .25em 1em;
    margin-bottom: 0px;
    text-shadow: none;
    text-transform: none;
}

.fa {
    display: inline-block;
    width: 1.28571429em;
    text-align: left;   
}

/*白色按钮*/
.btn-white {
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    }





/*一行放置*/
.in-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: 0px;
}


/*结果展示区*/

.panel {
    border: 1px solid #ccc;
    background: white;
    border-radius: 3px;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
}

.panel img{
    max-width:100%;max-height:100%;
}

.panel-heading{
    border-bottom: 1px solid #ccc;
    border-left: none;
    color: #333;
    display: block;
    margin-bottom: 0px;
    text-shadow: none;
    text-transform: none;
    font-size: 14px;
    line-height: 1.5em;

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
}

.left {
	border: 1px solid #ccc;
	width: 18%;    /*这里是百分比或者像素值，对应下面的center就是百分比或者像素值*/
	background: #7db9de;
	float: left;
	height: 100%;
}


.right-title {
    margin: 1em 0em 0.5em 0.5em;
    line-height: 1em;
    font-size: 22px;
    font-weight: normal;
    color: #4d5b76;
    font-family: 'Open Sans'
}



.right-bottom {
	position: relative;
    min-height: 600px;
    background: #fff;
    margin-left: 240px;
    border-top: 1px solid #cccccc;
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
}

.fixed-table-pagination {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    display: inline-flex;
    line-height: 34px;

}  

.label-alarm{
    display: inline;
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color: #fff;
    float: right;
    margin-top: .7em;
    line-height: 1.5em;
    padding: 0;
    background-color: #5bc0de;
}

.pull-right{
    position: absolute;
    right: 0;
    left: auto;
    margin-right: 5px;
    

}

.pull-left{
    position: relative;
    right: auto;
    left: 0;
    float：right
    margin-left: 5px;
    

}


