{% extends "layout.html" %}

{% block modal %}
<!-- 模态框需放到最高层级，否则有可能影响显示 -->

<!-- 模态框，确认导入的电话号码 -->

<div class="modal fade" id="confirm-import-modal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="importModalLabel">导入号码确认</h4>
      </div>
      <div class="modal-body">
        请确认导入文件是否正确，若正确，请点击开始分析。若想重新选择，请点击取消。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm-importfile-bnt" type="button" class="btn btn-primary">开始分析</button>
      </div>
    </div>
  </div>
</div>         

{% endblock %}



{% block content %}  

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th align="left" width="200px" style="word-wrap:break-word;">电话号码</th>
            <th align="left" style="word-wrap:break-word;">惯用语</th>
        </tr>
    </thead>
    <tbody id="result">
                            
    </tbody>
</table>

{% endblock %}