<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>testweb</title>
<link href="../static/css/user.css" rel="stylesheet" type="text/css" />
<link href="../static/css/bootstrap.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" type="text/javascript" href="../static/js/home.js" />
<link rel="stylesheet" type="text/javascript" href="../static/js/jquery-3.3.1.js" /> -->
</head> 
<body>     
    <div>  
    	<!-- 头部代码 -->
        <div id="header">  
            <p style="color:white;font-size: 30px">Algorithm Demo</p>
        </div>  

        <!-- 中间区域代码 -->
        <div id="middle">  
            <div class="sidebar">  
                <ul>
                    <li>
                    	<a href="" class="nav-header" target="blank"> 
                    		个人惯用语分析
                    	</a>
                    </li>
                    <li>
                    	<a href="" class="nav-header" target="blank"> 
                    		群体惯用语分析
                    	</a>
                    </li>
                    <li>
                    	<a href="" class="nav-header" target="blank"> 
                    		群体聚类及其惯用语分析
                    	</a>
                    </li>
                    <li>
                    	<a href="" class="nav-header" target="blank"><i class="fa"></i> 
                    		
                    	</a>
                    </li>
                </ul>  
            </div>  

            <!-- 中间区域右上部分 -->
        	<div class="right-top">  
                <div class="col-sm-auto">
          			<label for="inputwords" class="col-sm-2 col-form-label">关键词</label>
          			<input id="inputwords" class="form-control" placeholder="输入关键词，多个词时用空格输入"> 
        		</div> <br />
				<!-- <form> -->
					<div class="in-row">
        				<div class="col-sm-3">
          					<input type="text" id="filepath" class="form-control" placeholder="导入号码/文本">
        				</div>
        				<div class="dropdown">
    						<button type="button" class="btn btn-secondary">导入</button>
    						<div class="dropdown-content">
    							<input type="file" id="btn_file" onchange="sendFile(this.files)" style="display:none">
    							<button id="getnum" class="btn-white" onclick="" >号码</button>
    							<button id="gettext" class="btn-white" >文本</button>
  							</div>
  							<!-- <script type="text/javascript">
  							var obj1 = document.getElementById('btn_file');
							var obj2 = document.getElementById('filepath');
							obj2.value = obj1.value;
							</script> -->
						</div>
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						<div class="col-sm-3">
            				<div class="input-group">
              					<div class="input-group-prepend">
                					<div class="input-group-text">From</div>
              					</div>
            					<input type="date" class="form-control" placeholder="开始日期">
            				</div>
        				</div>
        				<div class="col-sm-3">
          					<div class="input-group">
            					<div class="input-group-prepend">
              						<div class="input-group-text">TO</div>
            					</div>
            					<input type="date" class="form-control" placeholder="结束日期">
          					</div>

						</div>
						<!-- <button id="getResult" class="btn btn-secondary">开始分析</button> -->
                        <button id="getterms" class="btn btn-secondary">开始分析</button>
					</div>
                    <br />
				<!-- </form>	 -->		
      		</div>

            <!-- 中间区域右下结果显示部分 -->
            <div class="right-bottom">  
                <div class="panel" >
                    <div class="panel-heading">Result Table
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th align="left" width="200px" style="word-wrap:break-word;">Number</th>
                                <th align="left" style="word-wrap:break-word;">Keywords</th>
                            </tr>
                        </thead>
                        <tbody id="result">
                            <!-- {% block content %}
                                {% for i in [1,2,3,4,5] %}
                                    <tr>
                                    <th>Number</th>
                                    <th>{{i}}</th>
                                    </tr> -->
                                    <!-- <a href="/page/{{ i }}">{{ i }}</a>
                                {% endfor %}
                            {% endblock %}

                            <tr>
                                <td>Mark</td>
                                <td>Tompson</td>
                            </tr>
                            <tr>
                                <td>Ashley</td>
                                <td>Jacobs</td>    
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>  

        <!-- 页脚 -->
        </div>  
            <div id="footer" style="text-align:right;">Copyright © synway</div> 
        </div>  
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<!-- <script type="text/javascript" src="../static/js/user.js"></script>  -->
<script type="text/javascript" src="../static/js/hometest.js"></script>

	
	
    
</body>
</html>