<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>demo</title>
<link href="../static/css/theme.css" rel="stylesheet" />
<link href="../static/css/user.css" rel="stylesheet" type="text/css" />
<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
<!-- <link href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet"/> -->
<!-- 引入bootstrap-table样式 -->
<link href="../static/bootstrap_table1.11.1/bootstrap-table.css" rel="stylesheet">

</head> 
<body style="font-family:monospace;font-size: 16px">  
    <!-- jquery -->
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <!-- bootstrap-table.min.js -->
    <script src="../static/bootstrap_table1.11.1/bootstrap-table.js"></script>
    <!-- 引入中文语言包 -->
    <script src="../static/bootstrap_table1.11.1/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../static/js/table.js"></script>
    <script type="text/javascript" src="../static/js/test.js"></script>
    <script type="text/javascript" src="../static/js/gias.js"></script>

    <div>  
        <!-- 头部代码 -->
        <div id="header">  
            <p style="color:white;font-size: 30px;">Algorithm Demo</p>
        </div>  

        <!-- 中间区域代码 -->
        <!-- 中间区域代码 -->
        <div id="middle">  
            <!-- 侧边栏  -->
            <div class="sidebar">  
                <ul>
                    <li>
                        <a href="#" class="nav-header" target="blank"> 
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span><b>个人惯用语分析</b></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-header" target="blank"> 
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            <span><b>群体惯用语分析</b></span>
                            <span id="gic-alarm" class="label-alarm"></span>
                        </a>
                    </li>
                    <li>
                        <a id="gcc" href="#" class="nav-header" target="blank"> 
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            <span><b>群体聚类及惯用语分析</b></span>
                            <span id="gcc-alarm" class="label-alarm"></span>
                        </a>
                    </li>
                    <li>
                        <a id="rcc" href="#" class="nav-header" target="blank"> 
                            <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
                            <span><b>宗教信仰分析</b></span>
                            <span id="rcc-alarm" class="label-alarm"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-header" target="blank"> 
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            
                            <span><b>用户指南</b></span>
                            <!-- <span class="badge">14</span> -->
                        </a>
                    </li>
                    
                </ul>  
            </div>  

            <div id="right-top" >  
                <p class="right-title">群体惯用语分析</p>
            </div>

            <!-- 中间区域右下结果显示部分 -->
            <div id="right-bottom"  >  
               
                <ul class="nav nav-tabs" style="font-weight: bold;">
                    <li class="active"><a href="#inputWords" data-toggle="tab">关键词</a></li>
                    <li class=""><a href="#inputTels" data-toggle="tab">电话号码</a></li>
                </ul>

            <!-- 数据表切换 -->
                <div id="myTabContent" class="tab-content" style="margin: 10px">

                <div class="tab-pane active in" id="inputWords">

                    <div class="in-row">

                        <div style="width: auto;margin:5px">
                            <label style="margin-left: 130px">请输入/导入要分析的关键词</label>
                            <br />
                            <textarea placeholder= "    输入单个或多个关键词组，以括号和逗号分隔，如（我们，他们）（它们，她们）,输入的括号及逗号均为中文字符，括号中的关键词逻辑关系为“与”，括号与括号间关键词的逻辑关系为“或”。请务必按标准输入,非法字符将无法输入！"></textarea>
                        </div>

                        <div style="width: auto;margin:5px">
                            <button class="btn btn-default" style="margin-top: 140px;font-size: 16px">本地导入</button><br/>
                            <button class="btn btn-primary" style="margin-top: 15px;font-size: 16px">确认提交</button>
                        </div>
                        
                    </div>
                </div>

                <div class="tab-pane fade" id="inputTels">
                    <div class="in-row">

                        <div style="width: auto;margin:5px">
                            <label style="margin-left: 130px">请输入/导入要分析的号码</label>
                            <br />
                            <textarea placeholder= "    输入多个电话号码，以英文符号逗号分隔。请务必按标准输入,非法字符将无法输入！"></textarea>
                        </div>

                        <div style="width: auto;margin:5px">
                            <button class="btn btn-default" style="margin-top: 140px;font-size: 16px">本地导入</button><br/>
                            <button class="btn btn-primary" style="margin-top: 15px;font-size: 16px">确认提交</button>
                        </div>
                        
                    </div>
                </div>
            </div>    
            </div>  

            
        <footer>
            <p style="float: right;">Copyright © synway</p>
        </footer>
         
       </div>
       
    </div> 


</body>
</html>