{% extends "layout.html" %}

{% block head %}

<!-- 导入js函数 -->
<script type="text/javascript" src="../static/js/gias.js"></script>
<br /><br />                
<div class="in-row">
  <div class="col-sm-8">
    <!-- <label for="inputwords" class="col-sm-2 col-form-label">关键词</label> -->
    <input id="inputwords" class="form-control" style="height: 40px;font-size: 16px" placeholder="输入关键词，多个词时用空格输入"> 
  </div> 
  <div class="col-sm-3" style="padding-left: 0">
        <input id="filepath" class="form-control" style="height: 40px;font-size: 16px" placeholder="请选择txt文件导入号码">
  </div>
  <div class="col-sm-1" style="padding-left: 0;padding-right: 15px">
        <div class="dropdown">
          <button id="import_tel" type="button" class="btn btn-secondary">导入</button>
          <div class="dropdown-content">
                <input type="file" id="select-file" style="display:none">
          </div>                      
        </div>
  </div>
</div>
<br /><br />

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="exampleModalLongTitle">输入确认</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 1.2rem">
        确认输入完毕，请点击开始分析。若想继续输入，请点击取消。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button id="confirm_input" type="button" class="btn btn-light" >开始分析</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}  
<!-- 导入bootstrap table设置 -->
<script type="text/javascript" src="../static/js/table.js"></script>
    <div class="panel">
        <div class="panel-heading"></div>                    
        <table id="result"></table>
    </div>
{% endblock %}