<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap CSS -->
    <link href="../static/css/user.css" rel="stylesheet" type="text/css" />  
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css.map">
    <!-- <script src="../static/js/bootstrap.js"></script> -->
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/user.js"></script>

    <title>MyFirstWeb</title>
  </head>
  <body>
      <div class="in-row">
                <div class="col-sm-3">
                    <input type="text" id="filepath" class="form-control" placeholder="导入号码/文本">
                </div>
                <div class="dropdown">
                <button id="import" class="btn btn-secondary">导入</button>
                <div class="dropdown-content">
                  
                  <button id="getnum" class="btn-white" >号码</button>
                  <button id="gettext" class="btn-white" >文本</button>
                  <input type="file" id="btn_file" onchange="sendFile(this.files)" style="display:none">
                </div>
                
                <!-- <script type="text/javascript">
                var obj1 = document.getElementById('btn_file');
              var obj2 = document.getElementById('filepath');
              obj2.value = obj1.value;
              </script> -->
            </div>
            
            
      </div>
  </body>
</html>